<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<form class="pure-form pure-form-aligned">
			<fieldset>
				<div class="pure-control-group">
					<label for="first_name">First Name</label>
					<input id="first_name" type="text" placeholder="First Name">
				</div>

				<div class="pure-control-group">
					<label for="last_name">Last Name</label>
					<input id="last_name" type="text" placeholder="Last Name">
				</div>

				<div class="pure-control-group">
					<label for="street_address">Street Address</label>
					<input id="street_address" type="text" placeholder="Street Address">
				</div>

				<div class="pure-control-group">
					<label for="city">City</label>
					<input id="city" type="text" placeholder="City">
				</div>

				<div class="pure-control-group">
					<label for="state">State</label>
					<select id="state">
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					</select>
				</div>

				<div class="pure-control-group">
					<label for="zip">Zip</label>
					<input id="zip" type="text" placeholder="Zip">
				</div>

				<div class="pure-control-group">
					<label for="email">Email</label>
					<input id="email" type="text" placeholder="Email">
				</div>

				<div class="pure-control-group">
					<label for="home_scene">Home Scene</label>
					<input id="home_scene" type="text" placeholder="Home Scene">
				</div>

				<div class="pure-control-group">
					<label for="weekend_pass">Weekend Pass Type</label>
					<select id="weekend_pass">
						<option value="none">No pass</option>
						<option value="full">Full Weekend Pass</option>
						<option value="dance">Dance Only Pass</option>
					</select>
				</div>
				<div class="pure-control-group">
					<label for="mnm">Mix and Match</label>
					<select id="mnm">
						<option value="none">None</option>
						<option value="follow">Follow</option>
						<option value="lead">Lead</option>
					</select>
				</div>
				<div class="pure-control-group">
					<label for="solo" class="pure-checkbox">Solo Jazz Competition</label>
					<input id="solo" type="checkbox">
				</div>
				<div class="pure-controls">
					<label for="team" class="pure-checkbox">Team Competition</label>
					<input id="team" type="checkbox">
				</div>
				<div class="pure-control-group">
					<label for="team_name">Team Name</label>
					<input id="team_name" type="text" placeholder="Team Name">
				</div>
				<div class="pure-control-group">
					<label for="tshirt">T-Shirt</label>
					<select id="tshirt">
						<option value="none">No T-Shirt</option>
						<option value="unisex_small">Unisex Small</option>
						<option value="unisex_medium">Unisex Medium</option>
						<option value="unisex_large">Unisex Large</option>
						<option value="unisex_xl">Unisex XL</option>
						<option value="unisex_2xl">Unisex 2XL</option>
						<option value="unisex_3xl">Unisex 3XL</option>
						<option value="bella_small">Bella Small</option>
						<option value="bella_medium">Bella Medium</option>
						<option value="bella_large">Bella Large</option>
						<option value="bella_xl">Bella XL</option>
						<option value="bella_2xl">Bella 2XL</option>
					</select>
				</div>
				<div class="pure-control-group">
				</div>
			</fieldset>
		</form>
	</body>
</html>
