{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}

<section id="contact" class="fragment %!s(&lt;nil&gt;)">
    <div class="container-fluid bg-light %!s(&lt;nil&gt;)">
    <div class="container py-5 %!s(&lt;nil&gt;)">

  <div class="row mx-0">
    <div class="col px-0 text-center text-body">
      <h2>Have questions?</h2>
    </div>
  </div><div class="row mx-0">
    <div class="col pt-4 pb-0 px-0 text-center text-body">
      <h5><em>Contact us!</em></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form
        class="contact position-relative"
        method="POST"
        name="defaultContact"
        action="https://formspree.io/xyyyrenq">
          <div class="row py-3 should-fade">
            <div class="col-md-6">
                <div class="form-group">
                  <input
                    id="name"
                    name="name"
                    class="form-control"
                    type="text"
                    data-validation
                    data-validation-error-msg="Please enter your name"
                    placeholder="Your Name *"
                    required>
                  <div class="px-2" data-error id="name-error"></div>
                </div>
                <div class="form-group">
                  <input
                    id="email"
                    name="email"
                    class="form-control"
                    type="text"
                    data-validation="email"
                    data-validation-error-msg="Please enter your email address"
                    placeholder="Your Email *"
                    required>
                  <div class="px-2" data-error id="email-error"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <textarea
                    id="message"
                    name="message"
                    class="form-control text-dark"
                    type="text"
                    data-validation
                    data-validation-error-msg="Send Message"
                    placeholder="Your Message *"
                    rows="4"
                    required></textarea>
                  <div class="px-2" data-error id="message-error"></div>
                </div>
            </div>
            <div class="col-lg-12 text-center">
              <div class="captcha-error alert alert-danger d-none" id="captcha-error">Message could not be send due to captcha not loadable. Please contact us at xyyyrenq.
              </div>
              <div class="generic-error alert alert-danger d-none" id="generic-error">Message could not be send. Please contact us at xyyyrenq.
              </div>
              <noscript>
                <div class="alert alert-danger py-2" id="js-error">Message can not be send with javascript disabled. Please contact us at xyyyrenq.
                </div>
              </noscript>
                <button
                  class="btn submit-btn btn-primary"
                  type="submit">Send Message
                </button>
            </div>
          </div><div class="generic-success mb-0 mb-3 hidden" id="generic-success">
            <div class="alert alert-success">Thank you for contacting us
            </div>
            <span class="btn btn-primary" data-action="return-form">Return</span>
          </div>
      </form>
    </div>
  </div>
    </div>
    </div>
</section>
