{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}

{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "Name" .Name "Params" .Params "section_class" "page-load" "container_class" "overlay") -}}
	<div data-portal="">
		<div class="container editor-container">
			<div id="loading-page">
				<div class="spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				Loading page, please wait...
			</div>
		</div>
	</div>
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}
