{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}

<div class="overlay container-fluid {{- printf " bg-%s" $bg -}}">
	<div data-portal="">
		<div class="container editor-container">
			<div id="login-warning">
				<h2>Warning: You are not signed in!</h2>
				<p>You can still register without signing in, however you will be unable to make modifications to your registration later</p>
				<button id="second-sign-in" onclick="handleSigninClick(event)">Sign in here</button>
			</div>
			<div id="populate-loading">
				<div class="spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				Populating pricing information...
			</div>
			<form class="rjsf" action="javascript:void(0)" onsubmit="submitRegistration()">
				<div class="form-group field field-object">
					<fieldset>
						<h2>Personal Information</h2>
						<div class="form-group field field-string" id="dss-firstName">
							<label class="control-label" for="root_firstName">First name<span class="required">*</span></label>
							<div></div>
							<input class="form-control" id="root_firstName" label="First name" required="" placeholder="" type="text" value="" name="first_name">
							<div></div><div></div>
						</div>
						<div class="form-group field field-string" id="dss-lastName">
							<label class="control-label" for="root_lastName">Last name<span class="required">*</span></label>
							<div></div>
							<input class="form-control" id="root_lastName" label="Last name" required="" placeholder="" type="text" value="" name="last_name">
							<div></div><div></div>
						</div>
						<div class="form-group field field-string">
							<label class="control-label" for="root_address">Street Address</label>
							<div></div>
							<input class="form-control" id="root_address" label="Street Address" placeholder="" type="text" value="" name="address">
							<div></div><div></div>
						</div>
						<div class="form-group field field-string" id="dss-city">
							<label class="control-label" for="root_city">City</label>
							<div></div>
							<input class="form-control" id="root_city" label="City" placeholder="" type="text" value="" name="city">
							<div></div><div></div>
						</div>
						<div class="form-group field field-string" id="dss-state">
							<label class="control-label" for="root_state">State</label>
							<div></div>
							<select id="root_state" class="form-control" name="state">
								<option value=""></option>
								<option value="AK">AK</option>
								<option value="AL">AL</option>
								<option value="AR">AR</option>
								<option value="AZ">AZ</option>
								<option value="CA">CA</option>
								<option value="CO">CO</option>
								<option value="CT">CT</option>
								<option value="DE">DE</option>
								<option value="FL">FL</option>
								<option value="GA">GA</option>
								<option value="HI">HI</option>
								<option value="IA">IA</option>
								<option value="ID">ID</option>
								<option value="IL">IL</option>
								<option value="IN">IN</option>
								<option value="KS">KS</option>
								<option value="KY">KY</option>
								<option value="LA">LA</option>
								<option value="MA">MA</option>
								<option value="MD">MD</option>
								<option value="ME">ME</option>
								<option value="MI">MI</option>
								<option value="MN">MN</option>
								<option value="MO">MO</option>
								<option value="MS">MS</option>
								<option value="MT">MT</option>
								<option value="NC">NC</option>
								<option value="ND">ND</option>
								<option value="NE">NE</option>
								<option value="NH">NH</option>
								<option value="NJ">NJ</option>
								<option value="NM">NM</option>
								<option value="NV">NV</option>
								<option value="NY">NY</option>
								<option value="OH">OH</option>
								<option value="OK">OK</option>
								<option value="OR">OR</option>
								<option value="PA">PA</option>
								<option value="RI">RI</option>
								<option value="SC">SC</option>
								<option value="SD">SD</option>
								<option value="TN">TN</option>
								<option value="TX">TX</option>
								<option value="UT">UT</option>
								<option value="VA">VA</option>
								<option value="VT">VT</option>
								<option value="WA">WA</option>
								<option value="WI">WI</option>
								<option value="WV">WV</option>
								<option value="WY">WY</option>
							</select>
							<div></div><div></div>
						</div>
						<div class="form-group field field-string" id="dss-zip">
							<label class="control-label" for="root_zip">Zip Code</label>
							<div></div>
							<input class="form-control" id="root_zip" label="Zip Code" placeholder="" type="text" value="" name="zip">
							<div></div><div></div>
						</div>
						<div class="form-group field field-string">
							<label class="control-label" for="root_email">Email<span class="required">*</span></label>
							<div></div>
							<input class="form-control" id="root_email" label="Email" required="" placeholder="" type="email" value="" name="email">
							<div></div><div></div>
						</div>
						<div class="form-group field field-string">
							<label class="control-label" for="root_homeScene">Home Scene</label>
							<div></div>
							<input class="form-control" id="root_homeScene" label="Home Scene" placeholder="" type="text" value="" name="home_scene">
							<div></div>
							<p class="help-block">(However you refer to the place you usually dance)</p>
						</div>
						<div class="form-group field field-boolean" id="dss-student">
							<div class="checkbox ">
								<label><input type="checkbox" id="root_student" name="student"><span> I am a student</span>
							</div>
							<div></div><div></div>
						</div>
						<hr>
						<h2>Purchase</h2>
						<div class="form-group field field-string">
							<label class="control-label" for="root_weekendPassType">Weekend Pass Type</label>
							<div></div>
							<select id="root_weekendPassType" class="form-control" onchange="weekendPassShowHide()" name="weekend_pass_type">
								<option value="None"></option>
								<option value="Full" id="full_weekend_pass_option">Full Weekend Pass</option>
								<option value="Dance" id="dance_only_pass_option">Dance Only Pass</option>
							</select>
							<div></div><div></div>
						</div>
						<div class="form-group field field-string" id="dss-workshopLevel">
							<label class="control-label" for="root_workshopLevel">Workshop Level</label><span class="required">*</span>
							<div></div>
							<select id="root_workshopLevel" class="form-control" name="workshop_level">
								<option value=""></option>
								<option value="Level 1">Level 1</option>
								<option value="Level 2">Level 2</option>
								<option value="Level 3">Level 3</option>
							</select>
							<div></div><div></div>
						</div>
						<div class="form-group field field-boolean">
							<div class="checkbox ">
								<label><input type="checkbox" id="root_mixAndMatch" onchange="mixAndMatchShowHide()" name="mix_and_match"><span id="mix_and_match_label">Mix and Match Competition</span></label>
							</div>
							<div></div><div></div>
						</div>
						<div class="form-group field field-string" id="dss-mixAndMatchRole">
							<label class="control-label" for="root_mixAndMatchRole">Mix and Match Role</label><span class="required">*</span>
							<div></div>
							<select id="root_mixAndMatchRole" class="form-control" name="mix_and_match_role">
								<option value=""></option>
								<option value="Follower">Follower</option>
								<option value="Leader">Leader</option>
							</select>
							<div></div><div></div>
						</div>
						<div class="form-group field field-boolean">
							<div class="checkbox ">
								<label><input type="checkbox" id="root_soloJazz" onchange="soloJazzShowHide()" name="solo_jazz"><span id="solo_jazz_label">Solo Jazz Competition</span></label>
							</div>
							<div></div><div></div>
						</div>
						<div class="form-group field field-boolean">
							<div class="checkbox ">
								<label><input type="checkbox" id="root_teamCompetition" onchange="teamShowHide()" name="team_competition"><span id="team_competition_label">Team Competition</span></label>
							</div>
							<div></div>
							<p class="help-block">(Only one team registration required per team)</p>
						</div>
						<div class="form-group field field-string" id="dss-teamName">
							<label class="control-label" for="root_teamName">Team Name</label><span class="required">*</span>
							<div></div>
							<input class="form-control" id="root_teamName" label="Team Name" placeholder="" type="text" value="" name="team_name">
							<div></div><div></div>
						</div>
						<div class="form-group field field-boolean">
							<div class="checkbox ">
								<label><input type="checkbox" id="root_tShirt" onchange="tShirtShowHide()" name="tshirt"><span id="tshirt_label">T-Shirt</span></label>
							</div>
							<div></div><div></div>
						</div>
						<div class="form-group field field-string" id="dss-tShirtSize">
							<label class="control-label" for="root_tShirtSize">T-Shirt Size</label><span class="required">*</span>
							<div></div>
							<select id="root_tShirtSize" class="form-control" name="tshirt_size">
								<option value=""></option>
								<option value="Unisex S">Unisex S</option>
								<option value="Unisex M">Unisex M</option>
								<option value="Unisex L">Unisex L</option>
								<option value="Unisex XL">Unisex XL</option>
								<option value="Unisex 2XL">Unisex 2XL</option>
								<option value="Unisex 3XL">Unisex 3XL</option>
								<option value="Bella S">Bella S</option>
								<option value="Bella M">Bella M</option>
								<option value="Bella L">Bella L</option>
								<option value="Bella XL">Bella XL</option>
								<option value="Bella 2XL">Bella 2XL</option>
							</select>
							<div></div><div></div>
						</div>
						<hr>
						<h2>Housing</h2>
						<div class="form-group field field-string">
							<label class="control-label" for="root_housingStatus">Housing accommodation</label>
							<div></div>
							<select id="root_housingStatus" class="form-control" onchange='housingShowHide()' name="housing_status">
								<option value="None">I neither require nor can provide housing</option>
								<option value="Require">I require housing</option>
								<option value="Provide">I can provide housing</option>
							</select>
							<div></div><div></div>
						</div>
						<div class="form-group field field-string" id='dss-myPets'>
							<label class="control-label" for="root_myPets">I have the following pets (cats, dogs, etc)</label>
							<div></div>
							<input class="form-control" id="root_myPets" label="I have the following pets (cats, dogs, etc)" placeholder="" type="text" value="" name="my_pets">
							<div></div><div></div></div>
						<div class="form-group field field-integer" id='dss-housingNumber'>
							<label class="control-label" for="root_housingNumber">I can house this many people</label><span class="required">*</span>
							<div></div>
							<input class="form-control" type="number" id="root_housingNumber" label="I can house this many people" placeholder="" value="" name="housing_number">
							<div></div><div></div></div>
						<div class="form-group field field-string" id='dss-myHousingDetails'>
							<label class="control-label" for="root_myHousingDetails">Any other details the organizers should know about my house</label>
							<div></div>
							<textarea id="root_myHousingDetails" class="form-control" placeholder="" name="my_housing_details"></textarea>
							<div></div><div></div>
						</div>
						<div class="form-group field field-string" id='dss-petAllergies'>
							<label class="control-label" for="root_petAllergies">I am allergic to the following pets</label>
							<div></div>
							<input class="form-control" id="root_petAllergies" label="I am allergic to the following pets" placeholder="" type="text" value="" name="pet_allergies">
							<div></div><div></div>
						</div>
						<div class="form-group field field-string" id='dss-housingRequestDetails'>
							<label class="control-label" for="root_housingRequestDetails">Anything else I would like to say about my housing request</label>
							<div></div>
							<textarea class="form-control" id="root_housingRequestDetails" placeholder="" name="housing_request_details"></textarea>
							<div></div><div></div>
						</div>
						<hr>
						<h2>Payment</h2>
						<div class="form-group field field-string">
							<ul class="list-group" id="coupon-list">
							</ul>
							<label class="control-label" for="root_coupon">Coupon code</label>
							<div></div>
							<input class="form-control" id="root_coupon" label="Coupon code" placeholder="" type="text" value="" onKeyDown="couponEnter(event)">
							<button type="button" class="btn btn-primary" onclick="submitDiscount()">Add Coupon</button>
							<div class="alert alert-danger" role="alert" id="coupon-alert"></div>
							<div></div><div></div>
						</div>
						<div>
							<p>Total: <span id="totalCount"><span></p>
						</div>
					</fieldset>
					<div></div><div></div>
				</div>
				<div class="alert alert-danger" role="alert" id="submit-alert"></div>
				<p>You will be redirected to Square for secure checkout.  Your registration is not reserved until payment is complete.</p>
				<p><input type="submit" value="Submit" class="btn btn-info" id="submit-button"/></p>
				<div id="submit-loading">
					<div class="spinner-border" role="status">
						<span class="sr-only">Loading...</span>
					</div>
					Submitting registration, please wait...
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	var siteBase = {{.Site.BaseURL}}
	var dynamicBase = {{getenv "HUGO_DYNAMIC"}}
</script>
