{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}

{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "Name" .Name "Params" .Params "section_class" "volunteer-form" "container_class" "overlay") -}}
	<div data-portal="">
		<div class="container editor-container">
			<form class="rjsf" action="javascript:void(0)" onsubmit="submitForm()">
				<div id="volunteer form">
					<fieldset>
						<h2>Volunteer Form</h2>
						<p>We always need 5 or so volunteers to help work the registration table, check wristbands during lessons, and cleanup after the late night. In compensation, volunteers will be given full-weekend passes to enjoy when they're not working. Interested parties will be chosen first-come-first serve.</p>
						<div class="form-group field field-string" id="volunteer-name-div">
							<div><label class="control-label" for="volunteer-name">Name<span class="required">*</span></label></div>
							<div><input class="form-control" id="volunteer-name" label="Name" required="" placeholder="" type="text" value="" name="name"></div>
							<div></div><div></div>
						</div>
						<div class="form-group field field-string" id="volunteer-email-div">
							<div><label class="control-label" for="volunteer-email">Email<span class="required">*</span></label></div>
							<div><input class="form-control" id="volunteer-email" label="Email" required="" placeholder="" type="email" value="" name="email"></div>
							<div></div><div></div>
						</div>
						<div class="form-group field field-boolean" id="agreebox-div">
							<div class="checkbox ">
								<input type="checkbox" id="agreebox" name="agreebox" required><span>I understand that volunteering will make me miss some classes and some social dancing (but I'm excited to enjoy the rest of the event for free)</span>
							</div>
							<div></div><div></div>
						</div>
					</fieldset>
					<div><input type="submit" value="Submit" class="btn btn-info" id="submit-button"/></div>
					<div id="submit-loading">
						<div class="spinner-border" role="status">
							<span class="sr-only">Loading...</span>
						</div>
						Submitting volunteer form, please wait...
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}
