@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.HeroText {
	color: white;
	text-align: center;
}

.vertical-center {
	display: flex;
	align-items: center;
}

.horizontal-center {
	justify-content: center;
}

@mixin no-special-color {
	color: inherit;
	text-decoration: none;
}

.no-special-color {
	@include no-special-color;
	&:hover {
		@include no-special-color;
	}
}
