<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<form class="pure-form pure-form-aligned">
			<fieldset>
				<div class="pure-control-group">
					<label for="first_name">First Name</label>
					<input id="first_name" type="text" placeholder="First Name">
				</div>

				<div class="pure-control-group">
					<label for="last_name">Last Name</label>
					<input id="last_name" type="text" placeholder="Last Name">
				</div>
			</fieldset>
		</form>
	</body>
</html>
